
body{
    justify-content: center;
    align-items: center;
    text-align: center;
}


.phone-outside{
    position: absolute;
    top: 5.3rem;
    left: 13.9rem;
    margin: auto;
    background-color: #2f2f2f;
    width: 290px;
    height: 570px;
    border-radius: 24px;
}

.phone-outside-screen{
    position: relative;
    margin: 0 auto;
    width: 282px;
    height: 560px;
    border-radius: 24px;
}

.background-screen{
    background: url("/static/Images/phone-background2.jpg");
    width: 100%;
    height: 100%;
    border-radius: 24px;
    object-fit: fill;
}

.phone-speaker{
    position: relative;
    margin: 1px 0;
    left: 40%;
    background-color: gray;
    height: 3px;
    width: 50px;
    border-radius: 25px;
}

.notification-corner{
    position: relative;
    background-color: rgb(47, 47, 47);
    height: 20px;
    width: 90px;
    top: 1px;
    left: 10px;
    border-radius: 50px;
}

.notification-corner:hover{
    width: 100px;
    height: 60px;
    border-radius: 10px;
}

.self-camera{
    position: absolute;
    background-color: black;
    border: 1px solid white;
    top: 2px;
    left: 4px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.self-camera2{
    position: absolute;
    background-color: black;
    border: 1px solid white;
    top: 2px;
    left: 25px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.notification-time{
    position: absolute;
    background-color: transparent;
    font-weight: 700;
    color: white;
    margin: auto;
    left: 43px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.notification-corner:hover .notification-time{
    background-color: transparent;
    font-weight: 700;
    color: white;
    left: 43px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.notification-corner:hover .not-items{
    position: absolute;
    border: 1px solid white;
    width: 29px;
    height: 29px;
    margin: 1px;

    border-radius: 10px;
}

.notification-corner:hover .not-item1{
    top: 20px;
    left: 1px;
}

.notification-corner:hover .not-item2{
    top: 20px;
    left: 33px;
}

.notification-corner:hover .not-item3{
    top: 20px;
    right: 1px;
}

.notification-corner:hover .not-items:hover{
    background-color: rgba(255, 255, 255, 0.379);
    color: black;
    
}

.notification-corner2{
    position: absolute;
    background: transparent;
    height: 20px;
    width: 90px;
    top: 1px;
    right: 10px;
    border-radius: 50px;
}

.not-right-item{
    position: absolute;
    border: 1px solid rgb(0, 0, 0);
    background-color: white;
    width: 18px;
    height: 18px;
    margin: 1px;
    border-radius: 10px;
}

.not-item4{
    right: 1px;
}
.not-item5{
    right: 21px;
}
.not-item6{
    right: 43px;
}
.not-item7{
    right: 65px;
}

.bottom-menu{
    position: absolute;
    bottom: 8px;
    background-color: rgba(255, 255, 255, 0.447);
    height: 70px;
    width: 100%;
    border-radius: 15px 15px 24px 24px;
}

.app{
    position: relative;
    background-color: aqua;
    
    height: 50px;
    width: 50px;
    border-radius: 20px;
    margin: 10px 10px;
    white-space: nowrap;
    float: left;
}
.weather-app{
    position: relative;
    background-color: #38ff2286;
    height: 190px;
    width: 190px;
    border-radius: 20px;
    margin: 10px 10px;
    white-space: nowrap;
    float: left;
}

.weather-title{
    font-weight: 600;
    font-size: large;
    word-spacing: 10px;
}

.weather-temp{
    font-weight: 500;
    font-size: 30px;
    
}

.yt{
    background: url("/static/Images/youtube.png");
    object-fit: contain;
}

img {
    max-width: 100%;
    max-height: 100%;
}