body, html{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    color: black;
    overflow: hidden;
}

.container{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 300px;
    height: auto;
    border-radius: 20px;
}

.setup-box{
    border-radius: 0 20px 20px 20px;
    width: 100%;
    height: auto;
    background-color: aquamarine;
    color: blue;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.punchline-box{
    border-radius: 20px 0 20px 20px;
    width: 100%;
    height: auto;
    background-color: rgb(21, 172, 231);
    color: rgb(13, 13, 99);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.refresh{
    position: absolute;
    top: 10em;
    width: fit-content;
    height: 20px;
    background-color: aquamarine;
    margin: 20px 0;
    padding: 1em;
    border-radius: 20px;
}

.refresh-link{
    color: rgb(0, 68, 255);
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    text-decoration: none;
}

.title{
    position: absolute;
    top: 2em;
    margin: 0;
}

.home-button{
    position: absolute;
    bottom: 5em;
    width: fit-content;
    height: 20px;
    background-color: aquamarine;
    margin: 20px 0;
    padding: 1em;
    border-radius: 20px;
}

.subtitle{
    display: flex;
    position: relative;
    margin: 0;
    margin-bottom: 4em;
    top: 2em;
}

.home-container{
    /* align-items: center;
    text-align: center;
    justify-content: center; */
    white-space: nowrap;
    margin-bottom: 10em;
    max-width: 500px;
    max-height: 30px;
    background: blue;
    margin: 1em;
    padding: 0;
    padding-bottom: 10px;
    border-radius: 20px;
}

.home-page{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    margin-bottom: 1px;
    border-radius: 20px;
    background: blue;
    border-radius: 20px;
    height: 30px;
    padding: 2px 15px;

}

.page-text{
   margin-right: 10px;
   font-size: 20px;
}

.page-link{
    text-decoration: none;
    font-size: 20px;
    color: white;

}

.ch-container{

    flex-direction: column;
    white-space: nowrap;
    width: 320px;
    height: 100px;
    float: left;
    clear: none;
    border-radius: 2px;
}

.ch-box{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100px;
    float: left;
    clear: none;
    height: 120px;
}

.ch-box input[type="radio"]{
    opacity: 0;
    position: fixed;
    width: 0;
}

.ch-box label {
    display: inline-block;
    width: 100px;
    height: 95px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
}

.ch-box input[type="radio"]:checked + label{
    border-color: rgb(0, 255, 234);
}

.ch-box input[type="radio"]:focus + label{
    border: 2px solid  rgb(0, 255, 234);
}

.submit-box{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    float: none;
    top: 109px;
    margin: auto;
}

/*codepen*/

.container{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12vh;
}

button{
    width: 270px; /*270px*/
    height: 60px; /*80px*/
    border: none;
    outline: none;
    background: #2f2f2f;
    color: #fff;
    font-size: 20px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.check-box{
    width: 60px;
    height: 60px;
    border-radius: 40px;
    box-shadow: 0 0 12px -2px rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    right: -40px;
    opacity: 0;
}

.check-box svg{
    width: 40px;
    margin: 10px;
}

svg path{
    stroke-width: 3;
    stroke: #fff;
    stroke-dasharray: 34;
    stroke-dashoffset: 34;
    stroke-linecap: round;
}

.active{
    background: #ff2b75;
    transition: 1s;
}

.active .check-box{
    right: 0;
    opacity: 1;
    transition: 1s;
}

.active p{
    margin-right: 125px;
    transition: 1s;
}

.active svg path{
    stroke-dashoffset: 0;
    transition: 1s;
    transition-delay: 1s;
}

.sub{
    display: block;
    position: relative;
    margin-top: 10em;
}

.result{
    display: block;
    position: relative;
    margin-top: 10em;
    background: rgba(0, 255, 234, 0.274);
    border-radius: 20px;
    padding: 10px;
}