{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block titlePage %}
<h1 class="main-title">Some fun dad jokes</h1>
{% endblock %}

{% block bodyclass %}
<body style=" background: url('/static/Images/whatsapp-background.jpg');">
{% endblock %}

{% block body %}
<div class="dad-home-button">
    <a href="{{ url_for('home') }}" class="refresh-link">back HOME</a>
</div>
<div class="refresh">
    <a href="{{ url_for('dadjokes') }}" class="refresh-link">Refresh</a>
</div>

<div class="container">
    <div class="setup-box">
        <h2 class="setup-text">{{joke.setup}}</h2> 
    </div>
    <div class="punchline-box">
        <h2 class="setup-text">{{joke.punchline}}</h2> 
    </div>
</div>
{% endblock %}