{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
{% endblock %}

{% block titlePage %}
<h1 class="main-title">Welcome to a random api website</h1>
{% endblock %}

{% block bodyclass %}
<body style=" background: url('/static/Images/brain-background.jpg'); object-fit: fill;">
{% endblock %}

{% block body %}
<h2 class="subtitle">Here you can find different page about various api calling programs!</h2>
<!-- <div class="home-container"> -->
    <div class="home-page" style="width: 400px;">
        <h4 class="page-text" style="width: 260px;">Funny Dad Jokes: </h4><a class="page-link" href="{{url_for('dadjokes')}}">Click here</a>
    <!-- </div> -->
    </div>

    <div class="home-page" style="background-color: rgb(21, 255, 0); width: 400px;">
        <h4 class="page-text" >Rock, paper or scissor's game: </h4><a class="page-link" href="{{url_for('rockpaperscissors')}}">Play here</a>
    <!-- </div> -->
    </div>
  
{% endblock %}