{% extends 'base.html' %}

{% block head %}

{% endblock %}
{% block bodyclass %}
<body style=" background: url('/static/Images/rock-background.jpg');">
{% endblock %}
{% block titlePage %}
<h1 class="title">Lets play rock, paper or scissors</h1>
{% endblock %}



{% block body %}
<div class="home-button">
    <a href="{{ url_for('home') }}" class="refresh-link">back HOME</a>
</div>
<h2 class="subtitle">Choose what you taking: </h2>
<div class="ch-container">
    <div class="ch-box">
        <form class="rock-form" action="#" method="post">
            
            
                <input id="rock" class="choose" type="radio"  name="choice" value="rock" />
                <label for="rock" style="background: url('/static/Images/rock.jpg');  object-fit: fill;">rock</label>
        
            <!-- <div class="ch-box"> -->
                <input id="paper" class="choose" type="radio" name="choice" value="paper"/>
                <label for="paper" style="background: url('/static/Images/paper.jpg');  object-fit: fill;">paper</label>
            <!-- </div> -->
            <!-- <div class="ch-box"> -->
                <input id="scissors" class="choose" type="radio" name="choice" value="scissors"/>
                <label for="scissors" style="background: url('/static/Images/scissors.jpg');  object-fit: fill;" >scissors</label>
             </div>
             <div class="sub"><input type="submit" value="submit"/></div>
                
             <!-- <div class="container">
                <button id="btn">
                    <p id="btnText">Submit</p>
                    <div class="check-box">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                            <path fill="transparent" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                        </svg>
                    </div>
                </button>
            </div>
            <script type="text/javascript">
                const btn = document.querySelector("#btn");
                const btnText = document.querySelector("#btnText");
        
                btn.onclick = () => {
                    btnText.innerHTML = "Thanks";
                    btn.classList.add("active");
                };
            </script> -->
        </form>
        
</div> 
{% if result != "NONE" %}
<div class="result">
    <h4>Your choise is: {{result}}</h4>
    <h4>AI choise is: {{airesult}}</h4>
    <br>
    <h4>{{won}} won the game!</h4>
</div>
{% endif %}


{% endblock %}