{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/phone.css') }}"/>
{% endblock %}

{% block titlePage %}
<h1 class="main-title">Fake smartphone</h1>
{% endblock %}

{% block bodyclass %}
<body class="body-phone" style=" background: url(''); object-fit: fill;">
{% endblock %}

{% block body %}

<div class="phone-outside">
    <div class="phone-speaker"></div>
    <div class="phone-outside-screen">
        <div class="background-screen">
        <div class="notification-corner">
            
            <div class="self-camera"></div>
            <div class="self-camera2"></div>
            <div><p class="notification-time">16:36</p></div>
            <div class="not-items not-item1"></div>
            <div class="not-items not-item2"></div>
            <div class="not-items not-item3"></div>
        </div>
        <div class="notification-corner2">
            <div class="not-right-item not-item5" style="background-color: white;"><img src="static/Images/wifi2.png"/> </div>
            <div class="not-right-item not-item4 transp"><img src="static/Images/low.png"/> </div>
            <div class="not-right-item not-item6"style="background-color: white;"><img src="static/Images/bluetooth.png"/> ></div>
            <div class="not-right-item not-item7"></div>
        </div>
        <div class="main-menu">
            <div class="weather-app">
                <h6 class="weather-title">Jerusalem</h6>
                <h7 class="weather-temp">45°</h7>
            </div>
            <div class="apps">
               <a  href="https://www.youtube.com/channel/UCV9AeIYOw3CiRO9irw5lJ-g"> <div class="app">
                <img src="static/Images/youtube.png"/>
               </div></a>
               <a  href="https://www.facebook.com/leo.blam.31/"> <div class="app">
                <img src="static/Images/facebook.png"/>
               </div></a>
               <a  href="https://twitter.com/theshadow_leo"> <div class="app">
                <img src="static/Images/twitter.png"/>
                </div></a>
                <a  href="#"> <div class="app">
                    <img src="static/Images/discord.png"/>
                </div></a>
            </div>
        </div>

        <div class="bottom-menu">
            <a href="https://www.instagram.com/theshadowandwolves/?hl=de"> <div class="app">
                <img src="static/Images/instagram.png"/>
               </div></a>
                <a href="https://www.linkedin.com/in/leonard-blam/"> <div class="app">
                <img src="static/Images/linkedin.png"/>
               </div></a>
                <a  href="https://github.com/TheShadowandwolves"> <div class="app">
                <img src="static/Images/github.png"/>
                </div></a>
                <a  href="mailto:leonard.blam@gmail.com"> <div class="app">
                <img src="static/Images/gmail.png"/>
                </div></a>
        </div>
        </div>
    </div>
</div>

<div class="text-section">
    hello world
</div>

{% endblock %}